<.flash_group flash={@flash} />
<div>
  <h1 class="h1"> <%= gettext "Car Auction Portal" %> </h1>
  <section class="hero">
    <div class="hero-content">
      <h1><%= gettext "Welcome to Car Auctions" %></h1>
      <p><%= gettext "Find the perfect car at the best prices." %></p>
      <a href="/listings" class="cta-button"><%= gettext "View Auctions" %></a>
    </div>
    <p><%= @current_url %></p>
  </section>
</div>
