<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Auction" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script
      defer
      phx-track-static
      type="text/javascript"
      src={~p"/assets/app.js"}
    >
    </script>
    <script>
      function toggleDropdown() {
        let dropdown = document.getElementById("dropdown");
        if (dropdown.style.display === "block") {
            dropdown.style.display = "none";
        } else {
            dropdown.style.display = "block";
        }
      }
    </script>
  </head>
  <body class="bg-white antialiased">
    <div class="nav">
      <div id="logo">
        <.link patch={~p"/"}>
          <img src={~p"/images/car-logo.png"} alt="Home" />
        </.link>
      </div>
      <div class="flex gap-4 content-center items-center p-8">
        <.link patch={~p"/#{@locale}/listings"}>
          <.button>
            <%= gettext("All listings") %>
          </.button>
        </.link>
        <.link patch={~p"/#{@locale}/listings/new"}>
          <.button>
            <%= gettext("Sell your car") %>
          </.button>
        </.link>
        <%= if @current_user do %>
          <.link patch={~p"/#{@locale}/my_listings"}>
            <.button>
              <%= gettext("My listings") %>
            </.button>
          </.link>
        <% end %>
      </div>
      <ul class="auth-buttons">
        <li>
          <.lang_switcher locale={@locale} url={@conn.request_path} />
        </li>
        <%= if @current_user do %>
          <li class="text-[0.8125rem] leading-6 text-zinc-900">
            <%= @current_user.email %>
          </li>
          <li>
            <.link
              href={~p"/users/settings"}
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              <%= gettext("Settings") %>
            </.link>
          </li>
          <li>
            <.link
              href={~p"/#{@locale}/users/log_out"}
              method="delete"
              class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              <%= gettext("Log out") %>
            </.link>
          </li>
        <% else %>
          <li>
            <.link
              href={~p"/#{@locale}/users/register"}
              class="text-sm  text-zinc-900 font-semibold hover:text-zinc-700"
            >
              <%= gettext("Register") %>
            </.link>
          </li>
          <li>
            <.link
              href={~p"/#{@locale}/users/log_in"}
              class="text-sm leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
            >
              <.button>
                <%= gettext("Log in") %>
              </.button>
            </.link>
          </li>
        <% end %>
      </ul>
    </div>
    <%= @inner_content %>
  </body>
</html>
